# config.yml

model_type:
  st_llm_attn
# mdoel args
model:
  station_num: 41
  hidden_dim: 128
  model_name_or_path: gpt2
  device: cuda

traininng:
  batch_size: 16              
  epochs: 1000    
  learning_rate: 0.0001   
  optimizer: Adam              
  weight_decay: 0
  clip_max_norm: 0.5
  factor: 0.3
  patience: 15         
  device: cuda

dataset_type:
  time_series
dataset:
  train_data_path: nanning_trainning/16/train.jsonl
  test_data_path: nanning_trainning/16/train.jsonl
  valid_data_path: nanning_trainning/16/train.jsonl


logging:
  eval_interval: 100     
  save_dir: "./saved_model/st_llm_attn_nanning_16"   